notes-app/node_modules/.package-lock.json
notes-app/node_modules/ansi-regex/index.d.ts
notes-app/node_modules/ansi-regex/index.js
notes-app/node_modules/ansi-regex/license
notes-app/node_modules/ansi-regex/package.json
notes-app/node_modules/ansi-regex/readme.md
notes-app/node_modules/ansi-styles/index.js
notes-app/node_modules/ansi-styles/license
notes-app/node_modules/ansi-styles/package.json
notes-app/node_modules/ansi-styles/readme.md
notes-app/node_modules/chalk/index.js
notes-app/node_modules/chalk/index.js.flow
notes-app/node_modules/chalk/license
notes-app/node_modules/chalk/package.json
notes-app/node_modules/chalk/readme.md
notes-app/node_modules/chalk/templates.js
notes-app/node_modules/chalk/types/index.d.ts
notes-app/node_modules/cliui/CHANGELOG.md
notes-app/node_modules/cliui/index.mjs
notes-app/node_modules/cliui/LICENSE.txt
notes-app/node_modules/cliui/package.json
notes-app/node_modules/cliui/README.md
notes-app/node_modules/cliui/build/index.cjs
notes-app/node_modules/cliui/build/lib/index.js
notes-app/node_modules/cliui/build/lib/string-utils.js
notes-app/node_modules/color-convert/CHANGELOG.md
notes-app/node_modules/color-convert/conversions.js
notes-app/node_modules/color-convert/index.js
notes-app/node_modules/color-convert/LICENSE
notes-app/node_modules/color-convert/package.json
notes-app/node_modules/color-convert/README.md
notes-app/node_modules/color-convert/route.js
notes-app/node_modules/color-name/.eslintrc.json
notes-app/node_modules/color-name/.npmignore
notes-app/node_modules/color-name/index.js
notes-app/node_modules/color-name/LICENSE
notes-app/node_modules/color-name/package.json
notes-app/node_modules/color-name/README.md
notes-app/node_modules/color-name/test.js
notes-app/node_modules/emoji-regex/index.d.ts
notes-app/node_modules/emoji-regex/index.js
notes-app/node_modules/emoji-regex/LICENSE-MIT.txt
notes-app/node_modules/emoji-regex/package.json
notes-app/node_modules/emoji-regex/README.md
notes-app/node_modules/emoji-regex/text.js
notes-app/node_modules/emoji-regex/es2015/index.js
notes-app/node_modules/emoji-regex/es2015/text.js
notes-app/node_modules/escalade/index.d.ts
notes-app/node_modules/escalade/license
notes-app/node_modules/escalade/package.json
notes-app/node_modules/escalade/readme.md
notes-app/node_modules/escalade/dist/index.js
notes-app/node_modules/escalade/dist/index.mjs
notes-app/node_modules/escalade/sync/index.d.ts
notes-app/node_modules/escalade/sync/index.js
notes-app/node_modules/escalade/sync/index.mjs
notes-app/node_modules/escape-string-regexp/index.js
notes-app/node_modules/escape-string-regexp/license
notes-app/node_modules/escape-string-regexp/package.json
notes-app/node_modules/escape-string-regexp/readme.md
notes-app/node_modules/get-caller-file/index.d.ts
notes-app/node_modules/get-caller-file/index.js
notes-app/node_modules/get-caller-file/index.js.map
notes-app/node_modules/get-caller-file/LICENSE.md
notes-app/node_modules/get-caller-file/package.json
notes-app/node_modules/get-caller-file/README.md
notes-app/node_modules/has-flag/index.js
notes-app/node_modules/has-flag/license
notes-app/node_modules/has-flag/package.json
notes-app/node_modules/has-flag/readme.md
notes-app/node_modules/is-fullwidth-code-point/index.d.ts
notes-app/node_modules/is-fullwidth-code-point/index.js
notes-app/node_modules/is-fullwidth-code-point/license
notes-app/node_modules/is-fullwidth-code-point/package.json
notes-app/node_modules/is-fullwidth-code-point/readme.md
notes-app/node_modules/require-directory/.jshintrc
notes-app/node_modules/require-directory/.npmignore
notes-app/node_modules/require-directory/.travis.yml
notes-app/node_modules/require-directory/index.js
notes-app/node_modules/require-directory/LICENSE
notes-app/node_modules/require-directory/package.json
notes-app/node_modules/require-directory/README.markdown
notes-app/node_modules/string-width/index.d.ts
notes-app/node_modules/string-width/index.js
notes-app/node_modules/string-width/license
notes-app/node_modules/string-width/package.json
notes-app/node_modules/string-width/readme.md
notes-app/node_modules/strip-ansi/index.d.ts
notes-app/node_modules/strip-ansi/index.js
notes-app/node_modules/strip-ansi/license
notes-app/node_modules/strip-ansi/package.json
notes-app/node_modules/strip-ansi/readme.md
notes-app/node_modules/supports-color/browser.js
notes-app/node_modules/supports-color/index.js
notes-app/node_modules/supports-color/license
notes-app/node_modules/supports-color/package.json
notes-app/node_modules/supports-color/readme.md
notes-app/node_modules/validator/index.js
notes-app/node_modules/validator/LICENSE
notes-app/node_modules/validator/package.json
notes-app/node_modules/validator/README.md
notes-app/node_modules/validator/validator.js
notes-app/node_modules/validator/validator.min.js
notes-app/node_modules/validator/es/index.js
notes-app/node_modules/validator/es/lib/alpha.js
notes-app/node_modules/validator/es/lib/blacklist.js
notes-app/node_modules/validator/es/lib/contains.js
notes-app/node_modules/validator/es/lib/equals.js
notes-app/node_modules/validator/es/lib/escape.js
notes-app/node_modules/validator/es/lib/isAfter.js
notes-app/node_modules/validator/es/lib/isAlpha.js
notes-app/node_modules/validator/es/lib/isAlphanumeric.js
notes-app/node_modules/validator/es/lib/isAscii.js
notes-app/node_modules/validator/es/lib/isBase32.js
notes-app/node_modules/validator/es/lib/isBase58.js
notes-app/node_modules/validator/es/lib/isBase64.js
notes-app/node_modules/validator/es/lib/isBefore.js
notes-app/node_modules/validator/es/lib/isBIC.js
notes-app/node_modules/validator/es/lib/isBoolean.js
notes-app/node_modules/validator/es/lib/isBtcAddress.js
notes-app/node_modules/validator/es/lib/isByteLength.js
notes-app/node_modules/validator/es/lib/isCreditCard.js
notes-app/node_modules/validator/es/lib/isCurrency.js
notes-app/node_modules/validator/es/lib/isDataURI.js
notes-app/node_modules/validator/es/lib/isDate.js
notes-app/node_modules/validator/es/lib/isDecimal.js
notes-app/node_modules/validator/es/lib/isDivisibleBy.js
notes-app/node_modules/validator/es/lib/isEAN.js
notes-app/node_modules/validator/es/lib/isEmail.js
notes-app/node_modules/validator/es/lib/isEmpty.js
notes-app/node_modules/validator/es/lib/isEthereumAddress.js
notes-app/node_modules/validator/es/lib/isFloat.js
notes-app/node_modules/validator/es/lib/isFQDN.js
notes-app/node_modules/validator/es/lib/isFullWidth.js
notes-app/node_modules/validator/es/lib/isHalfWidth.js
notes-app/node_modules/validator/es/lib/isHash.js
notes-app/node_modules/validator/es/lib/isHexadecimal.js
notes-app/node_modules/validator/es/lib/isHexColor.js
notes-app/node_modules/validator/es/lib/isHSL.js
notes-app/node_modules/validator/es/lib/isIBAN.js
notes-app/node_modules/validator/es/lib/isIdentityCard.js
notes-app/node_modules/validator/es/lib/isIMEI.js
notes-app/node_modules/validator/es/lib/isIn.js
notes-app/node_modules/validator/es/lib/isInt.js
notes-app/node_modules/validator/es/lib/isIP.js
notes-app/node_modules/validator/es/lib/isIPRange.js
notes-app/node_modules/validator/es/lib/isISBN.js
notes-app/node_modules/validator/es/lib/isISIN.js
notes-app/node_modules/validator/es/lib/isISO4217.js
notes-app/node_modules/validator/es/lib/isISO8601.js
notes-app/node_modules/validator/es/lib/isISO31661Alpha2.js
notes-app/node_modules/validator/es/lib/isISO31661Alpha3.js
notes-app/node_modules/validator/es/lib/isISRC.js
notes-app/node_modules/validator/es/lib/isISSN.js
notes-app/node_modules/validator/es/lib/isJSON.js
notes-app/node_modules/validator/es/lib/isJWT.js
notes-app/node_modules/validator/es/lib/isLatLong.js
notes-app/node_modules/validator/es/lib/isLength.js
notes-app/node_modules/validator/es/lib/isLicensePlate.js
notes-app/node_modules/validator/es/lib/isLocale.js
notes-app/node_modules/validator/es/lib/isLowercase.js
notes-app/node_modules/validator/es/lib/isMACAddress.js
notes-app/node_modules/validator/es/lib/isMagnetURI.js
notes-app/node_modules/validator/es/lib/isMD5.js
notes-app/node_modules/validator/es/lib/isMimeType.js
notes-app/node_modules/validator/es/lib/isMobilePhone.js
notes-app/node_modules/validator/es/lib/isMongoId.js
notes-app/node_modules/validator/es/lib/isMultibyte.js
notes-app/node_modules/validator/es/lib/isNumeric.js
notes-app/node_modules/validator/es/lib/isOctal.js
notes-app/node_modules/validator/es/lib/isPassportNumber.js
notes-app/node_modules/validator/es/lib/isPort.js
notes-app/node_modules/validator/es/lib/isPostalCode.js
notes-app/node_modules/validator/es/lib/isRFC3339.js
notes-app/node_modules/validator/es/lib/isRgbColor.js
notes-app/node_modules/validator/es/lib/isSemVer.js
notes-app/node_modules/validator/es/lib/isSlug.js
notes-app/node_modules/validator/es/lib/isStrongPassword.js
notes-app/node_modules/validator/es/lib/isSurrogatePair.js
notes-app/node_modules/validator/es/lib/isTaxID.js
notes-app/node_modules/validator/es/lib/isUppercase.js
notes-app/node_modules/validator/es/lib/isURL.js
notes-app/node_modules/validator/es/lib/isUUID.js
notes-app/node_modules/validator/es/lib/isVariableWidth.js
notes-app/node_modules/validator/es/lib/isVAT.js
notes-app/node_modules/validator/es/lib/isWhitelisted.js
notes-app/node_modules/validator/es/lib/ltrim.js
notes-app/node_modules/validator/es/lib/matches.js
notes-app/node_modules/validator/es/lib/normalizeEmail.js
notes-app/node_modules/validator/es/lib/rtrim.js
notes-app/node_modules/validator/es/lib/stripLow.js
notes-app/node_modules/validator/es/lib/toBoolean.js
notes-app/node_modules/validator/es/lib/toDate.js
notes-app/node_modules/validator/es/lib/toFloat.js
notes-app/node_modules/validator/es/lib/toInt.js
notes-app/node_modules/validator/es/lib/trim.js
notes-app/node_modules/validator/es/lib/unescape.js
notes-app/node_modules/validator/es/lib/whitelist.js
notes-app/node_modules/validator/es/lib/util/algorithms.js
notes-app/node_modules/validator/es/lib/util/assertString.js
notes-app/node_modules/validator/es/lib/util/includes.js
notes-app/node_modules/validator/es/lib/util/merge.js
notes-app/node_modules/validator/es/lib/util/multilineRegex.js
notes-app/node_modules/validator/es/lib/util/toString.js
notes-app/node_modules/validator/es/lib/util/typeOf.js
notes-app/node_modules/validator/lib/alpha.js
notes-app/node_modules/validator/lib/blacklist.js
notes-app/node_modules/validator/lib/contains.js
notes-app/node_modules/validator/lib/equals.js
notes-app/node_modules/validator/lib/escape.js
notes-app/node_modules/validator/lib/isAfter.js
notes-app/node_modules/validator/lib/isAlpha.js
notes-app/node_modules/validator/lib/isAlphanumeric.js
notes-app/node_modules/validator/lib/isAscii.js
notes-app/node_modules/validator/lib/isBase32.js
notes-app/node_modules/validator/lib/isBase58.js
notes-app/node_modules/validator/lib/isBase64.js
notes-app/node_modules/validator/lib/isBefore.js
notes-app/node_modules/validator/lib/isBIC.js
notes-app/node_modules/validator/lib/isBoolean.js
notes-app/node_modules/validator/lib/isBtcAddress.js
notes-app/node_modules/validator/lib/isByteLength.js
notes-app/node_modules/validator/lib/isCreditCard.js
notes-app/node_modules/validator/lib/isCurrency.js
notes-app/node_modules/validator/lib/isDataURI.js
notes-app/node_modules/validator/lib/isDate.js
notes-app/node_modules/validator/lib/isDecimal.js
notes-app/node_modules/validator/lib/isDivisibleBy.js
notes-app/node_modules/validator/lib/isEAN.js
notes-app/node_modules/validator/lib/isEmail.js
notes-app/node_modules/validator/lib/isEmpty.js
notes-app/node_modules/validator/lib/isEthereumAddress.js
notes-app/node_modules/validator/lib/isFloat.js
notes-app/node_modules/validator/lib/isFQDN.js
notes-app/node_modules/validator/lib/isFullWidth.js
notes-app/node_modules/validator/lib/isHalfWidth.js
notes-app/node_modules/validator/lib/isHash.js
notes-app/node_modules/validator/lib/isHexadecimal.js
notes-app/node_modules/validator/lib/isHexColor.js
notes-app/node_modules/validator/lib/isHSL.js
notes-app/node_modules/validator/lib/isIBAN.js
notes-app/node_modules/validator/lib/isIdentityCard.js
notes-app/node_modules/validator/lib/isIMEI.js
notes-app/node_modules/validator/lib/isIn.js
notes-app/node_modules/validator/lib/isInt.js
notes-app/node_modules/validator/lib/isIP.js
notes-app/node_modules/validator/lib/isIPRange.js
notes-app/node_modules/validator/lib/isISBN.js
notes-app/node_modules/validator/lib/isISIN.js
notes-app/node_modules/validator/lib/isISO4217.js
notes-app/node_modules/validator/lib/isISO8601.js
notes-app/node_modules/validator/lib/isISO31661Alpha2.js
notes-app/node_modules/validator/lib/isISO31661Alpha3.js
notes-app/node_modules/validator/lib/isISRC.js
notes-app/node_modules/validator/lib/isISSN.js
notes-app/node_modules/validator/lib/isJSON.js
notes-app/node_modules/validator/lib/isJWT.js
notes-app/node_modules/validator/lib/isLatLong.js
notes-app/node_modules/validator/lib/isLength.js
notes-app/node_modules/validator/lib/isLicensePlate.js
notes-app/node_modules/validator/lib/isLocale.js
notes-app/node_modules/validator/lib/isLowercase.js
notes-app/node_modules/validator/lib/isMACAddress.js
notes-app/node_modules/validator/lib/isMagnetURI.js
notes-app/node_modules/validator/lib/isMD5.js
notes-app/node_modules/validator/lib/isMimeType.js
notes-app/node_modules/validator/lib/isMobilePhone.js
notes-app/node_modules/validator/lib/isMongoId.js
notes-app/node_modules/validator/lib/isMultibyte.js
notes-app/node_modules/validator/lib/isNumeric.js
notes-app/node_modules/validator/lib/isOctal.js
notes-app/node_modules/validator/lib/isPassportNumber.js
notes-app/node_modules/validator/lib/isPort.js
notes-app/node_modules/validator/lib/isPostalCode.js
notes-app/node_modules/validator/lib/isRFC3339.js
notes-app/node_modules/validator/lib/isRgbColor.js
notes-app/node_modules/validator/lib/isSemVer.js
notes-app/node_modules/validator/lib/isSlug.js
notes-app/node_modules/validator/lib/isStrongPassword.js
notes-app/node_modules/validator/lib/isSurrogatePair.js
notes-app/node_modules/validator/lib/isTaxID.js
notes-app/node_modules/validator/lib/isUppercase.js
notes-app/node_modules/validator/lib/isURL.js
notes-app/node_modules/validator/lib/isUUID.js
notes-app/node_modules/validator/lib/isVariableWidth.js
notes-app/node_modules/validator/lib/isVAT.js
notes-app/node_modules/validator/lib/isWhitelisted.js
notes-app/node_modules/validator/lib/ltrim.js
notes-app/node_modules/validator/lib/matches.js
notes-app/node_modules/validator/lib/normalizeEmail.js
notes-app/node_modules/validator/lib/rtrim.js
notes-app/node_modules/validator/lib/stripLow.js
notes-app/node_modules/validator/lib/toBoolean.js
notes-app/node_modules/validator/lib/toDate.js
notes-app/node_modules/validator/lib/toFloat.js
notes-app/node_modules/validator/lib/toInt.js
notes-app/node_modules/validator/lib/trim.js
notes-app/node_modules/validator/lib/unescape.js
notes-app/node_modules/validator/lib/whitelist.js
notes-app/node_modules/validator/lib/util/algorithms.js
notes-app/node_modules/validator/lib/util/assertString.js
notes-app/node_modules/validator/lib/util/includes.js
notes-app/node_modules/validator/lib/util/merge.js
notes-app/node_modules/validator/lib/util/multilineRegex.js
notes-app/node_modules/validator/lib/util/toString.js
notes-app/node_modules/validator/lib/util/typeOf.js
notes-app/node_modules/wrap-ansi/index.js
notes-app/node_modules/wrap-ansi/license
notes-app/node_modules/wrap-ansi/package.json
notes-app/node_modules/wrap-ansi/readme.md
notes-app/node_modules/wrap-ansi/node_modules/ansi-styles/index.d.ts
notes-app/node_modules/wrap-ansi/node_modules/ansi-styles/index.js
notes-app/node_modules/wrap-ansi/node_modules/ansi-styles/license
notes-app/node_modules/wrap-ansi/node_modules/ansi-styles/package.json
notes-app/node_modules/wrap-ansi/node_modules/ansi-styles/readme.md
notes-app/node_modules/wrap-ansi/node_modules/color-convert/CHANGELOG.md
notes-app/node_modules/wrap-ansi/node_modules/color-convert/conversions.js
notes-app/node_modules/wrap-ansi/node_modules/color-convert/index.js
notes-app/node_modules/wrap-ansi/node_modules/color-convert/LICENSE
notes-app/node_modules/wrap-ansi/node_modules/color-convert/package.json
notes-app/node_modules/wrap-ansi/node_modules/color-convert/README.md
notes-app/node_modules/wrap-ansi/node_modules/color-convert/route.js
notes-app/node_modules/wrap-ansi/node_modules/color-name/index.js
notes-app/node_modules/wrap-ansi/node_modules/color-name/LICENSE
notes-app/node_modules/wrap-ansi/node_modules/color-name/package.json
notes-app/node_modules/wrap-ansi/node_modules/color-name/README.md
notes-app/node_modules/y18n/CHANGELOG.md
notes-app/node_modules/y18n/index.mjs
notes-app/node_modules/y18n/LICENSE
notes-app/node_modules/y18n/package.json
notes-app/node_modules/y18n/README.md
notes-app/node_modules/y18n/build/index.cjs
notes-app/node_modules/y18n/build/lib/cjs.js
notes-app/node_modules/y18n/build/lib/index.js
notes-app/node_modules/y18n/build/lib/platform-shims/node.js
notes-app/node_modules/yargs/browser.mjs
notes-app/node_modules/yargs/index.cjs
notes-app/node_modules/yargs/index.mjs
notes-app/node_modules/yargs/LICENSE
notes-app/node_modules/yargs/package.json
notes-app/node_modules/yargs/README.md
notes-app/node_modules/yargs/yargs
notes-app/node_modules/yargs/build/index.cjs
notes-app/node_modules/yargs/build/lib/argsert.js
notes-app/node_modules/yargs/build/lib/command.js
notes-app/node_modules/yargs/build/lib/completion-templates.js
notes-app/node_modules/yargs/build/lib/completion.js
notes-app/node_modules/yargs/build/lib/middleware.js
notes-app/node_modules/yargs/build/lib/parse-command.js
notes-app/node_modules/yargs/build/lib/usage.js
notes-app/node_modules/yargs/build/lib/validation.js
notes-app/node_modules/yargs/build/lib/yargs-factory.js
notes-app/node_modules/yargs/build/lib/yerror.js
notes-app/node_modules/yargs/build/lib/typings/common-types.js
notes-app/node_modules/yargs/build/lib/typings/yargs-parser-types.js
notes-app/node_modules/yargs/build/lib/utils/apply-extends.js
notes-app/node_modules/yargs/build/lib/utils/is-promise.js
notes-app/node_modules/yargs/build/lib/utils/levenshtein.js
notes-app/node_modules/yargs/build/lib/utils/maybe-async-result.js
notes-app/node_modules/yargs/build/lib/utils/obj-filter.js
notes-app/node_modules/yargs/build/lib/utils/process-argv.js
notes-app/node_modules/yargs/build/lib/utils/set-blocking.js
notes-app/node_modules/yargs/build/lib/utils/which-module.js
notes-app/node_modules/yargs/helpers/helpers.mjs
notes-app/node_modules/yargs/helpers/index.js
notes-app/node_modules/yargs/helpers/package.json
notes-app/node_modules/yargs/lib/platform-shims/browser.mjs
notes-app/node_modules/yargs/lib/platform-shims/esm.mjs
notes-app/node_modules/yargs/locales/be.json
notes-app/node_modules/yargs/locales/de.json
notes-app/node_modules/yargs/locales/en.json
notes-app/node_modules/yargs/locales/es.json
notes-app/node_modules/yargs/locales/fi.json
notes-app/node_modules/yargs/locales/fr.json
notes-app/node_modules/yargs/locales/hi.json
notes-app/node_modules/yargs/locales/hu.json
notes-app/node_modules/yargs/locales/id.json
notes-app/node_modules/yargs/locales/it.json
notes-app/node_modules/yargs/locales/ja.json
notes-app/node_modules/yargs/locales/ko.json
notes-app/node_modules/yargs/locales/nb.json
notes-app/node_modules/yargs/locales/nl.json
notes-app/node_modules/yargs/locales/nn.json
notes-app/node_modules/yargs/locales/pirate.json
notes-app/node_modules/yargs/locales/pl.json
notes-app/node_modules/yargs/locales/pt_BR.json
notes-app/node_modules/yargs/locales/pt.json
notes-app/node_modules/yargs/locales/ru.json
notes-app/node_modules/yargs/locales/th.json
notes-app/node_modules/yargs/locales/tr.json
notes-app/node_modules/yargs/locales/uk_UA.json
notes-app/node_modules/yargs/locales/uz.json
notes-app/node_modules/yargs/locales/zh_CN.json
notes-app/node_modules/yargs/locales/zh_TW.json
notes-app/node_modules/yargs-parser/browser.js
notes-app/node_modules/yargs-parser/CHANGELOG.md
notes-app/node_modules/yargs-parser/LICENSE.txt
notes-app/node_modules/yargs-parser/package.json
notes-app/node_modules/yargs-parser/README.md
notes-app/node_modules/yargs-parser/build/index.cjs
notes-app/node_modules/yargs-parser/build/lib/index.js
notes-app/node_modules/yargs-parser/build/lib/string-utils.js
notes-app/node_modules/yargs-parser/build/lib/tokenize-arg-string.js
notes-app/node_modules/yargs-parser/build/lib/yargs-parser-types.js
notes-app/node_modules/yargs-parser/build/lib/yargs-parser.js
